*{
  font-family: auto;

}
body {
  margin: 0;
  height: 100%;
  font-family: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}

.login_banner{
  background: url('./assets/banner.png') 50% no-repeat;
  background-size: cover;
  height: 100vh;
}

.login_form{
  padding: 150px;
  font-family: auto;
}

.login_form_item{
  width: 70%;
  display: table;
  margin: auto;
  margin-top: 20px;
}

.button_color{
  background: linear-gradient(to right, #1a5380, #26d0ce); 
  width: 12%;
}

.table_scroll {
  height: 78vh;
  overflow-y: scroll;
}

@media screen and (max-width: 700px) {
  body {
    overflow: scroll;
  }
}

@media screen and (max-width: 400px) {
  body {
    overflow: scroll;
  }
}
